<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
</head>
<body>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logoutuser' %}">LOGOUT</a></li>
            {% else %}
                <li><a href="{% url 'registeruser' %}">SIGN-UP</a></li>
                <li><a href="{% url 'loginuser' %}">LOGIN</a></li>
            {% endif %}   
        </ul>
    </nav>
    <main>
        {% include 'buyer_products.html' %}
    </main>
    <footer>
        <h3>&#169; All Right Reserved</h3>
    </footer>
</body>
</html>