<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'loginuser' %}" method="POST">
        {% csrf_token %}

        <fieldset>
            <legend>LOG-IN FORM</legend>

            {% if messages %}
                {% for message in messages %}
                    <div class="message-box">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div><input type="text" name="username" placeholder="USERNAME" required autocomplete="off"></div>
            <div>
                <input type="password" id="password" name="password" placeholder="PASSWORD" required autocomplete="new-password">
                <button type="button" id="eyebtn" onclick="togglePassword()">👁/</button>
            </div>
            <div><button type="submit">Log-In</button></div>
        </fieldset>

        <div><h3>New User? <a href="{% url 'registeruser' %}">SIGN-UP</a></h3></div>

    </form>

    <script>
        function togglePassword(){
            const input = document.getElementById('password');
            const eyebtn = document.getElementById('eyebtn')

            if (input.type === 'password') {
                input.type = 'text';
                eyebtn.textContent = '👁';
            }else {
                input.type = 'password';
                eyebtn.textContent = '👁/';
            }
        }
    </script>

</body>
</html>