<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <form action="{% url 'registeruser' %}" method="POST">
        {% csrf_token %}

        <fieldset>
            <legend>SIGN-UP FORM</legend>

            {% if messages %}
                {% for message in messages %}
                    <div class="message-box">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div><input type="text" name="username" placeholder="USERNAME" required autocomplete="off"></div>

            <div><input type="email" name="email" placeholder="E-MAIL" required autocomplete="off"></div>

            <div>
                <input type="password" id="password1" name="password1" placeholder="PASSWORD" required autocomplete="new-password">
                <button type="button" id="eyebtn" onclick="togglePassword()">👁/</button>
            </div>
            
            <div><input type="password" id="password2" name="password2" placeholder="CONFIRM-PASSWORD" required autocomplete="off"></div>

            <div>
                <select name="role" required>
                    <option value="" selected>-- Select Role --</option>
                    <option value="buyer">Buyer</option>
                    <option value="seller">Seller</option>
                </select>
            </div>

            <div id="shop_name_div" style="display: none">
                <input type="text" id="shop_name_input" name="shop_name" placeholder="SHOP NAME">
            </div>

            <div><button type="submit">Register</button></div>
        </fieldset>

        <div><h3>Existing User? <a href="{% url 'loginuser' %}">LOG-IN</a></h3></div>

    </form>

    <script>
        const role = document.getElementsByName('role')[0];
        const shopDiv = document.getElementById('shop_name_div');
        const shopInput = document.getElementById('shop_name_input');

        role.addEventListener('change', function () {
            if (this.value === 'seller') {
                shopDiv.style.display = 'block';
                shopInput.required = true;
            } else {
                shopDiv.style.display = 'none';
                shopInput.required = false;
                shopInput.value = "";
            }
        });

        function togglePassword() {
            const input = document.getElementById('password1');
            const eyebtn = document.getElementById('eyebtn');

            if (input.type === 'password') {
                input.type = 'text';
                eyebtn.textContent = '👁';
            }else {
                input.type = 'password';
                eyebtn.textContent = '👁/';
            }

        }
    </script>
</body>

</html>