<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>
</head>
<body>
    <section>
        {% if orders %}

            {% if messages %}
                {% for message in messages %}
                    <div class="message-box">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% for order in orders %}
                <p>Order #{{ order.id }} | {{ order.created_at }}</p>
                
                {% for item in order.items %}
                    <a href="{% url 'product_detail' item.product.id %}">
                        <p>{{ item.product.product_name }}</p>
                        <img src="{{ item.product.product_image.url }}" width="200">
                    </a>
                    <p>Seller: {{ item.seller }}</p>
                    <p>Qty: {{ item.quantity }}</p>
                    <p>Price: ₹{{ item.price }} x {{ item.quantity }} = {{ item.subtotal }}</p>
                    <p>Status: {{ item.status }}</p>

                    {% if item.status == 'Cancelled' %}
                        <span>Order Placed</span>
                        <span>Cancelled</span>
                    {% else %}
                        <span>Order Placed</span>
                        <span>Confirmed</span>
                        <span>Shipped</span>
                        <span>Delivered</span>
                    {% endif %}

                    <p>
                        ✅  ———

                        {% if item.status == 'Pending' %}
                            ⏳  ———  ◯  ———  ◯

                        {% elif item.status == 'Confirmed' %}
                        
                            ✅  ———  ⏳  ———  ◯

                        {% elif item.status == 'Shipped' %}
                        
                            ✅  ———  ✅  ———  ⏳

                        {% elif item.status == 'Delivered' %}
                        
                            ✅  ———  ✅  ———  ✅

                        {% elif item.status == 'Cancelled' %}
                        
                            🔴

                        {% endif %}
                    </p>

                    {% if item.status == 'Pending' or item.status == 'Confirmed' %}
                        <a href="{% url 'cancel_order' item.id %}"
                            onclick="return confirm('Are you sure? The order will get cancelled!')">
                            Cancel Order
                        </a>
                    {% endif %}

                    {% if item.status == "Delivered" %}
                        {% if item.already_reviewed %}
                            <p>✅ Reviewed</p>
                        {% else %}
                            <a href="{% url 'review' item.id %}">⭐ Rate & Review Product</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <p>Order Total: ₹{{ order.total_price }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p>You haven't ordered anything yet.</p>
        {% endif %}
    </section>
</body>
</html>