<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <section>
        <p>✅ Order Successfully Placed!</p>
        <h2>Order ID:#{{ order.id }}</h2>
        <h2>Total:₹{{ order.total_price }}</h2>

        {% for item in order_items %}
            <p>{{ item.product.product_name }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ₹{{ item.price }}</p>
        {% endfor %}

        <a href="{% url 'home' %}">Continue Shopping</a>
        <a href="{% url 'orders' %}">My Orders</a>
    </section>
</body>
</html>