<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <section>
        <p>✅ Order Successfully Placed!</p>
        <h3>Order ID:#{{ order.id }}</h3>
        <p style="font-size:50px; margin: 0; padding: 0;">✅</p>
        <p>Payment Successful</p>
        <h2>₹{{ order.total_price }}</h2>

        {% for item in order_items %}
            <p>{{ item.product.product_name }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: ₹{{ item.price }}</p>
            <p>Status: {{ item.status }}</p>
        {% endfor %}

        <a href="{% url 'home' %}">Continue Shopping</a>
        <a href="{% url 'my_orders' %}">My Orders</a>
    </section>
</body>
</html>