<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="message-box">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div>
        <img src="{{ product.product_image.url }}">
        <h2>Product name:{{ product.product_name }}</h2>
        <h3>Price:₹{{ product.product_price }}</h3>
        <p>description:{{ product.product_description }}</p>
        <p>Stock:{{ product.product_stock }}</p>
        <p>Fulfilled by {{ product.seller }}</p>
        {% if product.product_stock == 0 %}
            <p>Currently out of stock!</p>
        {% else %}
            <a href="{% url 'add_to_cart' product.id %}">Add to cart</a>
            <a href="{% url 'add_to_cart' product.id %}?next=buy_now">
                Buy Now at {{ product.product_price }}
            </a>
        {% endif %}
    </div>
</body>
</html>