<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="message-box">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="product_detail">
        {% if product.created %}
            <a id="wishlist"
                data-url="{% url 'add_to_wishlist' product.id %}?next={% url 'product_detail' product.id %}"
                onclick="toggleWishlist(event , this.dataset.url)" style="cursor: pointer;">
                ❤️
            </a>
        {% else %}
            <a id="wishlist"
                data-url="{% url 'add_to_wishlist' product.id %}?next={% url 'product_detail' product.id %}"
                onclick="toggleWishlist(event , this.dataset.url)" style="cursor: pointer;">
                🤍
            </a>
        {% endif %}
        <img src="{{ product.product_image.url }}" width="800">
        <h2>{{ product.product_name }}</h2>
        <h3>Price:₹{{ product.product_price }}</h3>
        <p>description:{{ product.product_description }}</p>
        <p>Stock:{{ product.product_stock }}</p>
        <p>Fulfilled by {{ product.seller }}</p>
        {% if product.product_stock == 0 %}
            <p>Currently out of stock!</p>
        {% else %}
            <a href="{% url 'add_to_cart' product.id %}">Add to cart</a>
            <a href="{% url 'add_to_cart' product.id %}?next=buy_now">
                Buy Now at {{ product.product_price }}
            </a>
        {% endif %}
    </div>

    <button onclick="toggleReviews()">Ratings and reviews ▼
        <p>{{ avg_rating }}⭐ based on {{ total_reviews }} ratings and reviews</p>
    </button>
    <div id="rating_review" style="display: none;">
        {% if reviews %}
            {% for review in reviews %}
                <p>{{ review.buyer.username }} - {{ review.rating }}⭐</p>
                <p>{{ review.message }}</p>
                {% for image in review.images.all %}
                    <img src="{{ image.image.url }}" width="100">
                {% endfor %}  
            {% endfor %}
        {% else %}
        <p>No ratings for this product yet</p>
        {% endif %}
    </div>

    <script>
        function toggleReviews(){
            const section = document.getElementById('rating_review');
            if (section.style.display === 'none') {
                section.style.display = 'block';
            }else {
                section.style.display = 'none'; 
            }
        }

        function toggleWishlist(event , url) {
            event.preventDefault();

            const scrollPos = window.scrollY;
            window.location.href = url;

            sessionStorage.setItem('scrollPos' , scrollPos);
        }

        window.onload = function() {
            const scrollPos = sessionStorage.getItem('scrollPos');

            if (scrollPos) {
                window.scrollTo(0 , scrollPos);
                sessionStorage.removeItem('scrollPos')
            }
        }

    </script>

</body>
</html>