<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage-Products</title>
</head>

<body>

    <form action="{% url 'search_product' %}" method="GET">
        {% csrf_token %}
        <input type="search" name="product_name" placeholder="Search Product">
        <input type="submit">
    </form>

    <table border="1" style="border-spacing: 10px 15px;">
        <tr>
            <th>Product-Name</th>
            <th>Stock</th>
            <th>Edit-Product</th>
            <th>Delete-Product</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_stock }}</td>
                <td>
                    <a href="{% url 'edit_product' product.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete_product' product.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}

    </table>
    <div>
        <a href="{% url 'add_product' %}">+ Add Product</a>
    </div>
</body>

</html>